.header{
    padding-top: 50px;
    padding-bottom: 90px;
    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &-signIn{
        font-weight: 500;
        color: $heading-color;
        margin-right: 30px;
    }
    &-signUp{
        padding: 13px 45px;
        color: $primary-color;
        border-radius: 100rem;
        border: 1px solid;
        font-weight: 500;
    }
}



@media screen and (max-width: 1023px) {
    
    .header{
        padding: 25px 0 50px;
    }
    .header-auth{
        display: none;
    }
}
